header {
   
    background: #ffffff;
    height: 80px;
    border-bottom-style: solid;
    border-bottom-color:  #cccccc;
    border-bottom-width: 1px;
    margin-bottom: 20px;
}


.name {
    float: left;
    color: white;
    background: #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 20px;
    margin: 0%;
    padding: 29px;
    position: relative;
    left: 11%;
}


#name2 {
    background: white;
    color: #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 20px;
    margin: 0%;
    padding: 13px;

}


.top {
    float: right;
    width: 70px;
    background: white;
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    position: relative;
    left: -10%;
    top: 30%;
}



body {
    margin: 0px;
    background-image: url("images/dust_scratches.png");

}
.pic {
    height: 200px;
    padding: 20px;
    float: left;
    margin-right: 20px;
}




section {
    background: #ffffff;
    padding: 15px;
    margin: 0 auto;
    width: 960px;
    border: 1px solid #dddddd;
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;

}



footer {
    background: #666666;
    padding: 30px;
    margin-top: 150px;
    border-top-style: solid;
    border-top-color: #4aaaa5;
    border-top-width: 8px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}